.container {
  @apply h-[100%] bg-white    overflow-y-scroll;
}
.avatIcon {
  @apply bg-[url("./src/assets/Acord/avat.svg")] w-[228px]  h-[227px];
}
.suggest {
  @apply w-[-webkit-fill-available] absolute flex top-[50px] items-start justify-center z-[11]
  /* position: absolute;
  width: -webkit-fill-available;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  top: 50px;
  justify-content: center;
  z-index: 11; */;
}
.suggestDiv {
  @apply flex flex-col items-center space-y-2;
}
.startTextContainer {
  @apply w-[100%] absolute bottom-[50px] flex justify-center items-center px-4;
}
.hSuggestion {
  @apply pl-[5%];
}
.chatContainer {
  @apply h-[630px] overflow-y-auto;
}
.startChat {
  @apply text-[16px] text-center leading-[28px] font-[500]  text-secondary-color/80 px-2 mb-[50px];
}
.buttonsContainer {
  @apply flex justify-center items-center;
}
.showText {
  @apply absolute flex justify-center items-center w-[90%] outline-none border-none bottom-6 h-[50px];
}
.input {
  @apply w-[100%] h-[37px] rounded-[8px] bg-[#2D2D2D] px-3 py-0 pr-[40px] text-white;
}

.twoButtonsContainer {
  @apply absolute w-[90%] bottom-7 h-[50px] flex justify-between items-center;
}
.voiceRecorder {
  @apply z-[101] pl-[18px];
}
.keyboardButton {
  @apply w-[56px] h-[56px]  border-[1px] border-white flex justify-center cursor-pointer items-center rounded-full;
}
.horizontalSuggestionIcon {
  @apply bg-[url('./src/assets/Acord/hSuggest.svg')] w-[25px]  h-[23px];
}
.keyboardIcon {
  @apply bg-[url('./src/assets/Acord/keyboard3.svg')] w-[25px]  h-[23px];
}
.sendIcon {
  @apply bg-[url('./src/assets/Acord/Send.svg')] w-[25px]  h-[23px] absolute z-[20] right-[10px];
}
.settingIcon {
  /* @apply bg-primary-color w-[25px] h-[25px] bg-[url("./src/assets/Acord/setting.svg")] cursor-pointer z-20 top-4 right-4 absolute; */
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 20;
  background-color: #0cbc84;
  mask-position: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  mask-image: url("./src/assets/Acord/setting.svg");
}
